@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
/*background and font are meant to be the same*/
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E5E5E5;
  color: #001427;
}

nav {
  height: 3rem;
  width: auto;
}
nav .nav__container {
  display: none;
}

.content {
  margin: 5%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
header .header__title {
  font-weight: 500;
  font-size: 1.25rem;
  width: 100%;
}
header .header__intro {
  font-size: 4rem;
  font-weight: 600;
  margin: 5rem 0rem;
}
header .header__container {
  display: none;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.125rem;
}
.about .about__image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about .about__img {
  height: auto;
  width: 85%;
  margin: 2rem 0rem 3rem 0rem;
}
.about .about__content-top {
  line-height: 1.8rem;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.about .about__content-bottom {
  line-height: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
}

.technical {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.technical .technical__container {
  line-height: 1.8rem;
  text-align: center;
}
.technical .technical__title {
  margin: 4rem 0rem 3rem 0rem;
}
.technical .technical__intro {
  font-size: 0.8rem;
}
.technical .technical__container-logo {
  margin: 3rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  width: 90%;
  height: auto;
  justify-items: center;
  align-items: center;
  grid-template-areas: "technical__spring technical__java technical__react" "technical__bem technical__scss technical__script-java" "technical__css technical__html technical__git";
}

.projects {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.125rem;
}
.projects .projects__container {
  width: 90%;
}
.projects .projects__packet {
  margin-top: 2rem;
  height: auto;
  width: 100%;
}
.projects .projects__packet-img {
  width: 100%;
  height: auto;
}

.footer {
  height: 12rem;
  width: 100%;
  background-color: #001427;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.footer .footer__icons {
  background-color: #001427;
  height: 3rem;
  width: 10rem;
  margin: 1rem;
}
.footer .footer__email {
  background-color: #001427;
  color: #E5E5E5;
  margin: 1rem;
}

@media screen and (min-width: 1440px) {
  nav .nav__container {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav__button {
    height: 2.5rem;
    width: 8rem;
    border: none;
  }
  nav .nav__contact {
    border: 0.1rem solid #001427;
    border-radius: 0.5rem;
    font-weight: 600;
  }
  nav .nav__name {
    margin: 2rem;
    font-weight: bolder;
  }
  .header {
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
  }
  .header .header__text {
    width: 40%;
    margin: 5%;
  }
  .header .header__text .header__title {
    font-size: 2rem;
  }
  .header .header__text .header__title .emoji {
    margin-right: 1rem;
  }
  .header .header__container {
    display: flex;
    width: 40%;
  }
  .about {
    margin: 0rem;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-gap: 0rem 4rem;
    grid-template-areas: "image title title" "image text-1 text-1" "image text-2 text-2";
  }
  .about .about__title {
    grid-area: title;
    margin-top: 7rem;
    font-size: 3rem;
  }
  .about .about__image-container {
    grid-area: image;
  }
  .about .about__content-top {
    grid-area: text-1;
  }
  .about .about__content-bottom {
    grid-area: text-2;
    margin-bottom: 7rem;
  }
  .technical .technical__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .technical .technical__title {
    font-size: 3rem;
    margin-top: 6rem;
  }
  .technical .technical__container-logo {
    display: flex;
    justify-content: space-evenly;
    margin: 6rem 0rem;
  }
  .technical .technical__intro {
    width: 60%;
  }
  .projects .projects__title {
    font-size: 3rem;
    margin: 3rem;
  }
  .projects .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4rem;
    justify-items: center;
    align-items: center;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__email {
    margin: 8%;
  }
  .footer .footer__icons {
    margin: 8%;
  }
}
@media screen and (min-width: 768px) {
  nav .nav__container {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav__button {
    height: 2.5rem;
    width: 8rem;
    border: none;
  }
  nav .nav__contact {
    border: 0.1rem solid #001427;
    border-radius: 0.5rem;
    font-weight: 600;
  }
  nav .nav__name {
    margin: 2rem;
    font-weight: bolder;
  }
  .header {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    border: 1rem solid white;
    border-radius: 1rem;
  }
  .header .header__text {
    width: 100%;
    text-align: center;
    background-color: #E3F6F5;
  }
  .header .header__text .header__title {
    font-size: 2rem;
    background-color: #E3F6F5;
    margin-top: 5%;
  }
  .header .header__text .header__title .emoji {
    margin-right: 1rem;
    background-color: #E3F6F5;
  }
  .header .header__text .header__intro {
    background-color: #E3F6F5;
  }
  .header .header__container {
    display: none;
  }
  .about {
    margin-top: 7rem;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 0.75fr 0.25fr 0.75fr;
    grid-gap: 0rem 1rem;
    grid-template-areas: "image title title" "image text-1 text-1" "image text-2 text-2";
  }
  .about .about__title {
    grid-area: title;
    font-size: 2rem;
    align-self: center;
    padding-top: 6rem;
  }
  .about .about__image-container {
    grid-area: image;
    width: 100%;
    height: 70%;
    justify-self: center;
    align-self: center;
    margin-left: 1rem;
  }
  .about .about__image-container .about__img {
    margin: 0;
  }
  .about .about__content-top {
    grid-area: text-1;
    font-size: 0.8rem;
    padding-top: 2rem;
  }
  .about .about__content-bottom {
    grid-area: text-2;
    font-size: 0.8rem;
    padding-bottom: 6rem;
  }
  .technical .technical__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .technical .technical__title {
    font-size: 3rem;
    margin-top: 6rem;
  }
  .technical .technical__container-logo {
    display: flex;
    justify-content: space-evenly;
    margin: 6rem 0rem;
  }
  .technical .technical__intro {
    width: 60%;
  }
  .projects .projects__title {
    font-size: 3rem;
    margin: 3rem;
  }
  .projects .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4rem;
    justify-items: center;
    align-items: center;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__email {
    margin: 8%;
  }
  .footer .footer__icons {
    margin: 8%;
  }
}/*# sourceMappingURL=styles.css.map */