@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap'); 
$background-color: #3E3636;
$background-footer:#F5EDED;
$font-color: #E5E5E5; /*background and font are meant to be the same*/
$font:'Inter', sans-serif;
$lineheight: 1.8rem;
$font-title-desktop: 3rem;
$font-desktop-header: 2rem;
$font-text:1.125rem;
$font-text-small:1rem;
$font-text-smallest:0.9rem;
$font-color-footer: #D72323;


*{
font-family: $font;
margin:0;
padding:0;
box-sizing: border-box;
background-color:$background-color;
color:$font-color
}

nav{
    height: 3rem;
    width:auto;

   .nav__container{
    display:none;
    }
}

.content {
    margin:5%;
    display:flex;
    flex-direction: column;
   }
header{
   display:flex;
   flex-wrap: wrap;
   align-items: center;
   width:100%;

   .header__title {
        font-weight: 500;
        font-size: 1.25rem;
        width: 100%;
   }

    .header__intro{
        font-size: 4rem;
        font-weight:600;
        margin:5rem 0rem;
    }

    .header__container{
        display:none;
    }
}

.about{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    font-size: $font-text;

    .about__image-container{
        width:100%;
        display:flex;
        justify-content: center;
    }
    .about__img {
        width:85%;
        margin: 2rem 0rem 3rem 0rem;
    }
    
    .about__content-top {
        line-height: $lineheight;
        font-weight:400;
        font-size: $font-text-small;
        margin-bottom: 2rem;
    }
    .about__content-bottom {
        line-height: $lineheight;
        margin-bottom: 2rem;
        font-weight:400;
        font-size: $font-text-small;
    }

}

.technical{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;

    .technical__container{
        line-height: $lineheight;
        text-align: center;
    }

    .technical__title{
        margin:4rem 0rem 3rem 0rem;
    }
    .technical__intro{
        font-size: $font-text-smallest;
    }

    .technical__container-logo {  
        margin:3rem 0rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem 1rem;
        grid-auto-flow: row;
        width:90%;
        justify-items: center;
        align-items:center;
        grid-template-areas:
          "technical__spring technical__java technical__react"
          "technical__bem technical__scss technical__script-java"
          "technical__css technical__html technical__git";
      }
      
}

.projects{
    margin-top: 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    font-size:$font-text;

    .projects__container{
        width:90%;
    }
    .projects__packet{
        margin-top: 2rem;
        height:auto;
        width:100%;
    }
    .projects__packet-img {
        width:100%;
        height:auto;

    }
}

.footer{
    height:12rem;
    width:100%;
    background-color: $background-footer;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   

    .footer__icons{
        background-color: $background-footer;
        height:3rem;
        width: 11rem;
        margin: 1rem;

    }

    .footer__email{
        background-color: $background-footer;
        color:$font-color-footer;
        margin: 1rem;

    }

}

@media screen and (min-width:1440px){
   
    nav{
       .nav__container {
        margin:5%;
        display:flex;
        justify-content:space-between;
        align-items: center;
        }

        .nav__button{
            height: 2.5rem;
            width: 8rem;
            border: none;
        }

        .nav__contact { 
            border:0.1rem solid $font-color;
            border-radius: 0.5rem;
            font-weight: 600;
        }

        .nav__name{
            margin:2rem;
            font-weight: bolder;
        }
    }
    .header{
        display:flex;
        margin-top: 5%;
        justify-content: space-evenly;
      
        .header__text {
            width:40%;
            margin: 5%;
            
            .header__title{
                font-size: $font-desktop-header;

                .emoji{
                    margin-right: 1rem;
                }
            }
        }
        .header__container{
           display:flex;
           width:40%;
        }
    }
    .about{

        margin:0rem;
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1.5fr 1fr 1fr; 
        grid-template-rows: 1fr 0.5fr 1fr; 
        grid-gap: 0rem 4rem;
        grid-template-areas: 
            "image title title"
            "image text-1 text-1"
            "image text-2 text-2"; 

            .about__title {
            grid-area: title;
            margin-top:7rem;
            font-size: $font-title-desktop;
        }
        .about__image-container{ 
            grid-area: image;
            }
        .about__content-top { 
            grid-area: text-1;
            }
        .about__content-bottom {
            grid-area: text-2;
            margin-bottom:7rem; 
        }
    }

 
}