@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
/*background and font are meant to be the same*/
* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3E3636;
  color: #E5E5E5;
}

.content__container {
  border: 2px solid white;
  margin: 5%;
}

nav {
  height: 3rem;
  width: auto;
}
nav .nav__container {
  display: none;
}

.content {
  margin: 8%;
  order: 2px solid white;
}

header {
  height: 38rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
header .header__title {
  font-weight: 500;
  font-size: 1.25rem;
  width: 100%;
}
header .header__intro {
  font-size: 4rem;
  font-weight: 600;
  margin: 5rem 0rem;
}
header .header__img {
  display: none;
}

.about {
  height: 70rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.125rem;
}
.about .about__image-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about .about__img {
  height: auto;
  width: 85%;
  margin: 2rem 0rem 3rem 0rem;
}
.about .about__content-top {
  line-height: 1.8rem;
  font-weight: 400;
  font-size: 1rem;
}
.about .about__content-bottom {
  line-height: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
}

.technical {
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.technical .technical__container {
  line-height: 1.8rem;
  text-align: center;
}
.technical .technical__title {
  margin: 4rem 0rem 3rem 0rem;
}
.technical .technical__intro {
  font-size: 0.9rem;
}
.technical .technical__container-logo {
  margin: 3rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem 1rem;
  grid-auto-flow: row;
  width: 90%;
  justify-items: center;
  align-items: center;
  grid-template-areas: "technical__spring technical__java technical__react" "technical__bem technical__scss technical__script-java" "technical__css technical__html technical__git";
}

.projects {
  margin: 40rem 0rem;
  height: 50rem;
}
.projects .projects__packet-one-image {
  height: auto;
  width: 100%;
}
.projects .projects__packet-one-desc {
  height: auto;
  width: 100%;
}
.projects .projects__packet-two-image {
  height: auto;
  width: 100%;
}
.projects .projects__packet-two-desc {
  height: auto;
  width: 100%;
}
.projects .projects__packet-three-image {
  height: auto;
  width: 100%;
}
.projects .projects__packet-three-desc {
  height: auto;
  width: 100%;
}
.projects .projects__packet-four-image {
  height: auto;
  width: 100%;
}
.projects .projects__packet-four-desc {
  height: auto;
  width: 100%;
}
.projects .projects__packet-five-image {
  height: auto;
  width: 100%;
}
.projects .projects__packet-five-desc {
  height: auto;
  width: 100%;
}
.projects .projects__packet-six-image {
  height: auto;
  width: 100%;
}
.projects .projects__packet-six-desc {
  height: auto;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */